        :root{
        --green: #00FF00;
        --white: #ffffff;
        --black: #000000;
        --red:#f11212;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #fcfcfc;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        h1 {margin-top: 10px;
        }
        header {
            background-color: #b6b6b6;
            color: black;
            padding: 15px;
        }
        section {
            padding: 126px;
        }
        button {
            background-color: #4000ff;
            color: white;
            border: none;
            padding: 12px 22px;
            font-size: 18px;
            border-radius: 7px;
            cursor: pointer;
        }

        button:hover {
            background-color: #372188;
        }

        footer {
            background-color: #8f8f8f;
            color: black;
            padding: 12px;
            font-size: 18px;
            font-family: helvetica;
            margin-top: 30px;
        }
       /* Estilo comum para ambos */
.btn {
  position: absolute;
  top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Posição do primeiro botão */
.btn-um {
  right: 80px; /* Melhor usar 'right' do que um valor fixo em px da esquerda */
  background-color: var(--green);
}

/* Posição do segundo botão */
.btn-dois {
  right: 20px; 
  background-color: var(--red);
}
